In [15]:
import pandas as pd
import numpy as np
from glob import glob
# 指定要更新的資料夾
st_list = ["467480", "C0F9L0", "C0K490", "C0X060"]
# 更新的天氣資訊放的位置
p_dir = "../raw_weather/weather_update_0531/"
# 主要天氣資訊放的位置
main_weather_dir = "../result/merge_weather/"
def merge_weatherdata(p_dir,station_name):
#     p_dir = fn_l[0]
    data_file = glob(p_dir + "//*"+ station_name +"*.csv")
#     station_name = p_dir.split("\\")[-1]
    df_all = pd.DataFrame()
    n = len(data_file)
    for i in range(n):
        fn_load = data_file[i]
        df_tmp = pd.read_csv(fn_load,encoding="utf-8", 
                             names=['Date', 'Temperature', 'T.Max', 'T.Min', 'Precp', 
                                    'RH', 'StnPres', 'WS', 'WSGust'])
        if i ==0:
            df_all = df_tmp
        else:
            df_all = df_all.append(df_tmp)
    df_all = df_all.reset_index()
    df_all = df_all.drop(columns="index")
    df_all = df_all.dropna(axis=0)
    return df_all

st_list = ["467480", "C0F9L0", "C0K490", "C0X060"]
p_dir = "../raw_weather/weather_update_0531/"
for station_name in st_list:
    update_data  = merge_weatherdata(p_dir,station_name)
    main_data_fn = glob(main_weather_dir+ "*" +station_name+"*.csv")[0]
    main_data = pd.read_csv(main_data_fn)
    merger_data  = main_data.append(update_data)
    merger_data  = merger_data.drop_duplicates(subset="Date")
    merger_data  = merger_data.sort_values(by=['Date'])
    main_data_fn = main_data_fn.replace(".csv","") + ".csv"
    merger_data.to_csv(main_data_fn,encoding="utf-8", index=False)
    print(station_name, "updated")

467480 updated
C0F9L0 updated
C0K490 updated
C0X060 updated

In [14]:
merger_data.shape

(1419, 9)

(2332, 9)

(1977, 9)

In [3]:
# for fn in fn_l:
# #     得到新的合併表格
#     update_data = merge_weatherdata(fn)
# #     取得站名
#     statation_name = fn.split("_")[-1]
# #     用站名去找要更新的主資料
#     main_data_fn = glob("../result/merge_weather/*" +statation_name+"*.csv")[0]
#     main_data = pd.read_csv(main_data_fn)
# #     把更新資料黏上去 distinct
#     merger_data  = main_data.append(update_data)
#     merger_data.drop_duplicates(subset="Date")
# #     完成
#     merger_data.to_csv(main_data_fn,encoding="utf-8", index=False)
#     print(statation_name, "updated")

467480 updated
C0F9L0 updated
C0K490 updated
C0X060 updated

In [4]:
# df = pd.DataFrame()
# df["id"] = [1,1,2,3,5,4,4]
# df["value"] = [0,1,2,3,4,5,6]
# print(df, df.drop_duplicates(subset="id"))

           Date  Temperature  T.Max  T.Min  Precp    RH  StnPres   WS  WSGust
138  2019-05-27         26.7   29.8   24.6    2.5  89.0   1009.0  0.8     6.9
139  2019-05-28         26.5   31.5   23.8    2.0  89.0   1009.2  1.6     6.1
140  2019-05-29         24.9   30.5   22.1    0.0  82.0   1009.4  2.4     7.3
141  2019-05-30         25.9   30.9   21.2    0.0  78.0   1009.7  1.8     6.6
142  2019-05-31         25.4   29.8   22.3    1.0  85.0   1009.3  1.6     6.7