In [5]:
import pandas as pd
c=["c1","c2"]
df = pd.DataFrame(columns=c)
data = [(1,2),(3,4),(5,6),(7,8)]
for d in data:
    s = pd.Series(d, index=c)
    df = df.append(s, ignore_index=True)
df

  c1 c2
0  1  2
1  3  4
2  5  6
3  7  8

In [10]:
pd.crosstab(df["c1"],df["c2"])

c2  2  4  6  8
c1
1   1  0  0  0
3   0  1  0  0
5   0  0  1  0
7   0  0  0  1