In [32]:
import pandas as pd
c=["article","push_id"]
df = pd.DataFrame(columns=c)
data = [("A1","P1"),("A1","P2"),("A1","P3"),("A2","P2"),("A3","P1"),("A3","P3")]
for d in data:
    s = pd.Series(d, index=c)
    df = df.append(s, ignore_index=True)
df

  article push_id
0      A1      P1
1      A1      P2
2      A1      P3
3      A2      P2
4      A3      P1
5      A3      P3

In [33]:
df.pivot(index="push_id", columns="article", values="article")

article  A1   A2   A3
push_id
P1       A1  NaN   A3
P2       A1   A2  NaN
P3       A1  NaN   A3

In [15]:
df.unstack(level=-1)

c1  0    A1
    1    A1
    2    A1
    3    A2
c2  0    P1
    1    P2
    2    P3
    3    P2
dtype: object

In [16]:
df.melt()

  variable value
0       c1    A1
1       c1    A1
2       c1    A1
3       c1    A2
4       c2    P1
5       c2    P2
6       c2    P3
7       c2    P2

In [40]:
a1 = []
a1.append({1,2,3})
a1[0].add(4)
a1[0].

[{1, 2, 3, 4}]