In [1]:
# 主要步驟
#     讀取資料
#         讀檔案
#         取出常用變數(若有更改常用變數時要記得更新
#     清洗資料
#         刪除價格值為0的奇怪資料
#         刪除不會用到的欄位
#         刪除不會用到的列
#         找出資料誤值或空值
#         驗算資料
#     轉換資料
#         修正日期格式
#         以代號取代原資料(市場>>代號、花名重編、分類)
#         將各種花合併得到總交易量、平均價格
#         新增已周圍單位的存檔
#     存取資料

In [2]:
# seting 讀取檔案
import os, glob
import numpy as np
import pandas as pd
from datetime import date, time, datetime
from datetime import timedelta

fn_list = glob.glob("../result/merge_flower_price/*台北.csv")
flowers =[]
for fn in fn_list:
    flowers.append(fn.split("\\")[-1].split("_")[0])
# flowers
datasets =[]
for f in flowers:
    key_word = "../result/merge_flower_price/" + f +"*.csv"
    datasets.append(glob.glob(key_word))
datasets
# print(fn_list)
# fn = fn_list[4]

[['../result/merge_flower_price\\Anthurium_台中.csv',
  '../result/merge_flower_price\\Anthurium_台北.csv',
  '../result/merge_flower_price\\Anthurium_台南.csv',
  '../result/merge_flower_price\\Anthurium_彰化.csv',
  '../result/merge_flower_price\\Anthurium_高雄.csv'],
 ['../result/merge_flower_price\\Chrysanthemum_台中.csv',
  '../result/merge_flower_price\\Chrysanthemum_台北.csv',
  '../result/merge_flower_price\\Chrysanthemum_台南.csv',
  '../result/merge_flower_price\\Chrysanthemum_彰化.csv',
  '../result/merge_flower_price\\Chrysanthemum_高雄.csv'],
 ['../result/merge_flower_price\\Eustoma_台中.csv',
  '../result/merge_flower_price\\Eustoma_台北.csv',
  '../result/merge_flower_price\\Eustoma_台南.csv',
  '../result/merge_flower_price\\Eustoma_彰化.csv',
  '../result/merge_flower_price\\Eustoma_高雄.csv'],
 ['../result/merge_flower_price\\OrientalLily_台中.csv',
  '../result/merge_flower_price\\OrientalLily_台北.csv',
  '../result/merge_flower_price\\OrientalLily_台南.csv',
  '../result/merge_flower_price\\OrientalLily_彰化.csv',
  '../result/merge_flower_price\\OrientalLily_高雄.csv'],
 ['../result/merge_flower_price\\Rose_台中.csv',
  '../result/merge_flower_price\\Rose_台北.csv',
  '../result/merge_flower_price\\Rose_台南.csv',
  '../result/merge_flower_price\\Rose_彰化.csv',
  '../result/merge_flower_price\\Rose_高雄.csv']]

In [3]:
def merge_all_market(fn_list):
    df_list = []
    for fn in fn_list:
        df_list.append(pd.read_csv(fn, 
                                   names=["date", "market", "price", "count", "year", "week"],
                                   encoding="utf-8"))
    len(df_list)
    df_new = df_list[0].append([df_list[1],df_list[2],df_list[3],df_list[4]])
    df_new = df_new.reset_index()
    df_new = df_new.drop(columns="index")
    arr = np.array(df_new)
    freq = df_new["date"].value_counts()
    all_date = df_new["date"].drop_duplicates()
#     null_data = df.iloc[df["date"].index.isnull()]
    merge_data = []
    c = ["date", "avg_price", "total_count", "year", "week"]
    for d in all_date:
    #     day_data =[]
        sub_data = arr[arr[:,0]==d,:]
        d_count = sum(sub_data[:,3])
        d_avg = round(sum(sub_data[:,3]*sub_data[:,2])/d_count,3)
#         print(sub_data)

        day_data =[sub_data[0,0], d_avg, d_count, sub_data[0,4], sub_data[0,5]]
        merge_data.append(day_data)
    df_m = pd.DataFrame(merge_data, columns=c)
    df_m["flower"] = flower
    return df_m

In [4]:
for i in range(len(datasets)):
    dataset = datasets[i]
#     print(dataset)
    flower = flowers[i]
    df_result = merge_all_market(dataset)
    fn_save = "../result/merge_flower_allmarket_price/merge_" + flower + ".csv"
    df_result.to_csv(fn_save, index=False, encoding="utf-8")
    fn_save = "../result/merge_flower_allmarket_price/mongo_up_" + flower + ".csv"
    df_result.to_csv(fn_save, index=False, encoding="utf-8", header=False)
    print("data saved", flower)

data saved Anthurium
data saved Chrysanthemum
data saved Eustoma
data saved OrientalLily
data saved Rose

In [6]:
df_result["flower"] = flower
df_result

            date  avg_price  total_count  year  week flower
0     2014-01-01    187.723         3813  2014     1   Rose
1     2014-01-02    188.338         4506  2014     1   Rose
2     2014-01-03    173.910         5283  2014     1   Rose
3     2014-01-05    173.248         2842  2014     1   Rose
4     2014-01-06    149.852         6076  2014     1   Rose
5     2014-01-07    167.129         4134  2014     1   Rose
6     2014-01-08    183.379         3531  2014     2   Rose
7     2014-01-09    180.495         4488  2014     2   Rose
8     2014-01-10    165.647         6400  2014     2   Rose
9     2014-01-12    153.654         2540  2014     2   Rose
10    2014-01-13    153.655         5726  2014     2   Rose
11    2014-01-14    152.343         4502  2014     2   Rose
12    2014-01-15    153.610         4571  2014     3   Rose
13    2014-01-16    151.489         5200  2014     3   Rose
14    2014-01-17    146.700         6028  2014     3   Rose
15    2014-01-19    148.860         2012  2014     3   Rose
16    2014-01-20    140.910         5119  2014     3   Rose
17    2014-01-21    147.730         4273  2014     3   Rose
18    2014-01-22    164.032         3012  2014     4   Rose
19    2014-01-23    175.320         3129  2014     4   Rose
20    2014-01-24    168.110         3194  2014     4   Rose
21    2014-01-25    159.760         3281  2014     4   Rose
22    2014-01-26    179.272         2394  2014     4   Rose
23    2014-01-27    195.056         4134  2014     4   Rose
24    2014-01-28    214.075         5728  2014     4   Rose
25    2014-01-29    150.132         7141  2014     5   Rose
26    2014-02-04    131.712         4961  2014     5   Rose
27    2014-02-05    174.350         6252  2014     6   Rose
28    2014-02-06    162.678         7023  2014     6   Rose
29    2014-02-07    137.291         7531  2014     6   Rose
...          ...        ...          ...   ...   ...    ...
1808  2018-07-28     89.579         1261  2018    30   Rose
1809  2018-08-04    100.134         1035  2018    31   Rose
1810  2018-09-01     53.641          728  2018    35   Rose
1811  2014-12-22    169.170         1739  2014    51   Rose
1812  2015-02-08    235.390          382  2015     6   Rose
1813  2015-10-04    150.620          709  2015    40   Rose
1814  2016-05-01    116.910         1125  2016    18   Rose
1815  2017-06-11    144.180         1481  2017    24   Rose
1816  2017-07-30     77.000          167  2017    31   Rose
1817  2017-08-13     93.230          399  2017    33   Rose
1818  2018-04-15     56.940          346  2018    15   Rose
1819  2018-04-22     43.280          642  2018    16   Rose
1820  2018-04-29     62.670          284  2018    17   Rose
1821  2018-05-06     78.540          604  2018    18   Rose
1822  2018-05-13     77.450          514  2018    19   Rose
1823  2018-05-20     35.450          518  2018    20   Rose
1824  2018-05-27     51.870          707  2018    21   Rose
1825  2018-06-03     73.650         1150  2018    22   Rose
1826  2018-06-10     88.928         2594  2018    23   Rose
1827  2018-06-17     77.440          840  2018    24   Rose
1828  2018-06-24     62.383          801  2018    25   Rose
1829  2018-07-01     54.050          690  2018    26   Rose
1830  2018-07-15     40.620          355  2018    28   Rose
1831  2018-07-29    105.410         1084  2018    30   Rose
1832  2018-09-16     57.260          803  2018    37   Rose
1833  2018-09-23     58.040          549  2018    38   Rose
1834  2018-09-30     57.670          119  2018    39   Rose
1835  2018-10-07    105.060          159  2018    40   Rose
1836  2018-10-14    132.080          168  2018    41   Rose
1837  2018-10-21     87.330          503  2018    42   Rose

[1838 rows x 6 columns]