In [49]:
import pandas as pd
import numpy as np

df = pd.DataFrame([["D1","A1",2], ["D1", "A2", 2], ["D1", "A3", 5], ["D2", "A3", 2]],
                  columns=["date", "type", "price"])
df

  date type  price
0   D1   A1      2
1   D1   A2      2
2   D1   A3      5
3   D2   A3      2

In [52]:
dfp = df.pivot_table(index="date", columns="type", values="price", dropna=True,fill_value=0)
dfp["date"] = dfp.index.values
dfp.set_index()
dfp

TypeError: set_index() missing 1 required positional argument: 'keys'

In [20]:
pd.melt(df, var_name="type")

  type  value
0   A1    2.0
1   A1    NaN
2   A2    2.0
3   A2    NaN
4   A3    5.0
5   A3    2.0